html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* welcome */
::-moz-selection {
  background: #fff;
}

::-webkit-selection {
  background: #f2c351;
  color: #fff;
}

::selection {
  background: #f2c351;
  color: #fff;
}

body {
  background-color: 249, 249, 249 !important;
}

h2 {
  color: #222533;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: Arial,sans-serif;
}

.header {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #000;
  margin-left: 135px;
  margin-top: 25px;
  margin-right: 0px;
  width: 1009px;
  position: relative;
  z-index: 3;
  display: table;
}

.header-logo {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 200;
  padding-right: 50px;
}

.header-logo:hover {
  color: #f2c351;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 25px 0px 0px -115px;
  padding-left: 30px;
  padding-right: 20px;
}

.header-navigation:hover {
  cursor: pointer;
}

.header-navigation:hover .menu {
  display: fixed;
  padding: 10px;
  padding-right: 20px;
}

.header-navigation:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigation_menu {
  vertical-align: baseline;
  color: transparent;
  color: #fff;
  font-family: Roboto,sans-serif;
  opacity: .75;
  font-weight: 600;
  font-size: 13px;
  display: none;
  margin-left: 692px;
  margin-top: -63px;
  padding: 20px;
}

.header-navigation_menu li {
  display: block;
  font-family: Roboto,sans-serif;
  font-weight: 600;
  padding: 5px 15px;
}

.header-navigation_menu li a {
  text-decoration: none;
  color: #000;
}

.header-navigation_menu li a:hover {
  color: #f2c351;
  cursor: pointer;
}

.header-navigation::before {
  content: '';
  background-color: #000;
  position: absolute;
  width: 18px;
  height: 3px;
  margin: -33px 0px 0px 1270px;
}

.header-navigation_design {
  content: '';
  background-color: #000;
  position: absolute;
  width: 18px;
  height: 3px;
  margin: -39px 0px 0px 1270px;
}

.header-navigation:after {
  content: '';
  background-color: #000;
  position: absolute;
  width: 18px;
  height: 3px;
  margin: -45px 0px 0px 1270px;
}

.header:hover {
  color: #f2c351;
}

.welcome {
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 100px;
  display: block;
  z-index: 0;
  background: url(https://demo.colorlib.com/pixova-lite/wp-content/themes/pixova-lite/layout/images/header-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  float: left;
}

.welcome-title {
  color: #ffce55;
  font-size: 37px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 105px;
  margin-bottom: 80px;
}

.welcome-title:after {
  content: "";
  position: absolute;
  background-color: #ffce55;
  width: 75px;
  height: 4px;
  left: 50%;
  margin: 70px 255px 0px -32px;
}

.welcome-subtitle {
  margin: 0px 200px 20px;
  color: #fff;
  font-size: 57px;
  font-family: 'Poppins', sans-serif;
}

.welcome-text {
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
}

.welcome-text_link {
  text-decoration: underline;
  color: #fff;
}

.button {
  margin-bottom: 110px;
}

.button-black {
  border-color: #fff;
  cursor: pointer;
  padding: 20px 40px;
  margin: 10px 0px;
  margin-right: 25px;
  color: #fff;
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  border-width: 2px;
  position: relative;
}

.button-black a {
  text-decoration: none;
  color: #fff;
}

.button-black:hover {
  border-color: #f2c351;
  color: #f2c351;
}

.button-black:hover a {
  color: #f2c351;
}

.button-yellow {
  cursor: pointer;
  padding: 20px 40px;
  margin: 10px 0px;
  color: #fff;
  border-radius: 100px;
  font-family: Arial,sans-serif;
  letter-spacing: 1px;
  background-color: #f2c351;
  border-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.button-yellow a {
  text-decoration: none;
  color: #fff;
}

.button-yellow:hover {
  background-color: #ffcc56;
}

.about__graph-value {
  display: none;
  font-family: 'Poppins', sans-serif;
}

/* solutions */
.solutions {
  z-index: 0;
  text-align: center;
  background-color: #f9f9f9;
}

.solutions-header {
  color: #222533;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.solutions-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin: 52px 255px 0px -32px;
}

.solutions-subtitle {
  margin-top: 10px;
  color: #333;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.solutions-text {
  color: #333;
  font-size: 17px;
  font-family: Roboto;
  margin: 75px 135px 0px;
  line-height: 1.8;
  margin: 80px 145px 0px;
}

.solutions-quote {
  background-color: #fff;
  color: #363636;
  font-size: 16px;
  padding: 15px 30px;
  margin: 30px 145px 80px;
  font-family: sans-serif;
  border-left: 5px solid #f2c351;
  line-height: 1.8;
}

.solutions-diagrams {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 70px;
  padding-top: 90px;
  padding-bottom: 25px;
}

.solutions-diagrams h4 {
  font-size: 16px;
  color: #333;
  font-family: Arial, sans-serif;
  font: inherit;
  font-weight: 100;
}

.solutions:after {
  content: "";
  position: absolute;
  background-color: #ffce55;
}

/* recent-works */
.works {
  margin-top: -70px;
  text-align: center;
  background-color: #f0f0f0;
  z-index: 1;
  position: relative;
  padding: 60px 150px 30px;
}

.works-header {
  color: #222533;
  font-size: 30px;
  font-weight: 600;
  margin-top: -45px;
  padding-top: 20px;
}

.works-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin: 57px 255px 0px -32px;
}

.works-subtitle {
  margin-top: 15px;
  padding-top: 10px;
  color: #333;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.works-item {
  width: 25%;
  position: relative;
}

.works-parent {
  max-width: 1140px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.works-parent_img1 {
  position: relative;
}

.works-parent_img1-logo1 {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.works-parent_img2 {
  position: relative;
}

.works-parent_img2-logo2 {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}

.works-parent_img3 {
  position: relative;
}

.works-parent_img3-logo3 {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.works-parent_img4 {
  position: relative;
}

.works-parent_img4-logo4 {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

/* clients-words */
.response {
  text-align: center;
}

.response-header {
  color: #222533;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  padding-bottom: 23px;
}

.response-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin: 52px 255px 0px -32px;
}

.response-subtitle {
  margin-top: 25px;
  color: #333;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 35px;
}

.response-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 45%;
  margin-bottom: 20px;
}

.response-text {
  color: #363636;
  font-size: 18px;
  line-height: 1.8;
  padding: 0px 165px;
}

.response-name {
  color: #f2c351;
  font-size: 16px;
  font-style: normal;
  margin-top: 10px;
  text-transform: uppercase;
}

/* latest-news */
.news {
  margin-top: 100px;
  text-align: center;
}

.news-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin: 52px 255px 0px -32px;
}

.news-subtitle {
  margin-top: 25px;
  color: #333;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 65px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-block_first:hover {
  opacity: .9;
  cursor: pointer;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.news-block_second:hover {
  opacity: .9;
  cursor: pointer;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.news-block_third:hover {
  opacity: .9;
  cursor: pointer;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.news-block_fourth:hover {
  opacity: .9;
  cursor: pointer;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.news-block a {
  text-decoration: none;
  color: #000;
}

.news-block a:hover {
  color: #f2c351;
}

.news-block_date {
  margin-top: 30px;
  margin-bottom: 25px;
  color: #f2c351;
  font-size: 14px;
  font-weight: 400;
  font-family: Arial,sans-serif;
}

.news-block_header {
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  font-family: Poppins,sans-serif;
}

.news-block_header:hover {
  cursor: pointer;
  color: #f2c351;
}

.news-block_text {
  padding: 0px 70px;
  font-size: 15px;
  line-height: 27px;
  font-family: Roboto;
  color: #777;
  text-align: center;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.slider-container {
  overflow: hidden;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider-item {
  height: auto;
  min-width: 200px;
}

.slider-buttons {
  text-align: center;
}

/* team */
.team {
  text-align: center;
}

.team-header {
  color: #222533;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 150px;
}

.team-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin: 52px 255px 0px -32px;
}

.team-subtitle {
  margin-top: 20px;
  padding-top: 10px;
  color: #333;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.team-images {
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 150px;
}

.team-images_block {
  vertical-align: baseline;
  border-radius: 5px;
  text-align: center;
  word-spacing: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  width: 165px;
  height: 30px;
  background-color: #4a4a4a;
}

.team-images_block:hover + div {
  visibility: visible;
}

.team-images_block-link {
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.team-images_block-link:hover {
  color: #f2c351;
  cursor: pointer;
}

.team-images_first:hover {
  opacity: .75;
  cursor: pointer;
  width: 140px;
  height: 140px;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.team-images_second:hover {
  opacity: .75;
  cursor: pointer;
  width: 140px;
  height: 140px;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.team-images_third:hover {
  opacity: .75;
  cursor: pointer;
  width: 140px;
  height: 140px;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.team-images_fourth:hover {
  opacity: .75;
  cursor: pointer;
  width: 140px;
  height: 140px;
  -webkit-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.team-images_text {
  margin-bottom: 10px;
  display: block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  font-family: Arial,sans-serif;
}

/* contact-us */
.contact {
  position: relative;
  background-color: #f0f0f0;
  margin-top: 80px;
  padding-top: 40px;
}

.contact > div h3 {
  color: #363636;
  font-family: Arial,sans-serif;
  font-size: 21px;
  font-weight: 100;
}

.contact-header {
  text-align: center;
  color: #222533;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.contact-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #ffce55;
  left: 50%;
  margin: 52px 255px 0px -32px;
}

.contact-text {
  text-align: center;
  color: #333;
  font-family: Roboto;
  margin: 25px 140px 0px;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.contact-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  padding-bottom: 100px;
  margin-left: 149px;
}

.contact-info_header {
  color: #363636;
  font-family: Arial,sans-serif;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 20px;
}

.contact-info_text {
  margin-bottom: 20px;
  color: #777;
  font-size: 16px;
  font-family: sans-serif;
}

.contact-info_text > a {
  text-decoration: none;
  color: #777;
}

.contact-info-adress {
  padding-bottom: 50px;
}

.contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -305px 290px 150px 580px;
  background-color: #f0f0f0;
  outline: #f2c351;
}

.contact-form input {
  background-color: #f0f0f0;
  border-color: gainsboro;
  border-style: solid;
  width: 775px;
  height: 40px;
  font-size: 18px;
  outline: none;
}

.contact-form input :focus {
  -webkit-box-shadow: 0 0 15px #7a956b;
          box-shadow: 0 0 15px #7a956b;
}

.contact-form_textarea {
  width: 775px;
  height: 195px;
  background-color: #f0f0f0;
  border-color: #dfdedf;
  border-style: solid;
  resize: vertical;
  outline: none;
  font-size: 18px;
}

.contact-form_button {
  margin-top: 30px;
  width: 75px;
  height: 45px;
  background-color: #f2c351;
  color: #fff;
  border-color: transparent;
  margin-bottom: 50px;
  border-radius: 10px;
  -webkit-transition: 0.5 ease 0s;
  transition: 0.5 ease 0s;
  position: relative;
}

.contact-form_button:hover {
  background-color: #ffcc56;
  cursor: pointer;
}

input:focus {
  -webkit-box-shadow: 0 0 15px #beba81;
          box-shadow: 0 0 15px #beba81;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

textarea:focus {
  -webkit-box-shadow: 0 0 15px #beba81;
          box-shadow: 0 0 15px #beba81;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.invalid {
  -webkit-box-shadow: 0 0 15px #ff4800;
          box-shadow: 0 0 15px #ff4800;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.end {
  position: relative;
  background-color: #313233;
  color: #fff;
  padding-top: 35px;
  margin-top: -150px;
}

.end-about {
  font-size: 21px;
  font-family: Arial, sans-serif;
  font-weight: 100;
  margin: 0px 920px 10px 135px;
}

.end-about_text {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.8;
  margin: 0px 920px 70px 135px;
  font-size: 16px;
  font-family: sans-serif;
  padding-right: 50px;
}

.end-themes {
  font-size: 21px;
  font-family: Arial, sans-serif;
  font-weight: 100;
  margin: -215px 585px 10px 535px;
}

.end-themes_text {
  line-height: 1.8;
  margin: 0px 585px 10px 535px;
  font-size: 14px;
  font-family: sans-serif;
}

.end-posts {
  margin: -65px 205px 10px 905px;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 21px;
}

.end-posts_text > li > a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 1.8;
  margin: 0px 0px 5px 905px;
  font-size: 14px;
  font-family: sans-serif;
}

.end-posts_text > li > a:hover {
  color: #f2c351;
  cursor: pointer;
}

.end-footer {
  text-align: center;
  background-color: #1f1f1f;
  padding-bottom: 25px;
  padding-top: 25px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-family: sans-serif;
}

.end-footer_pixova {
  font-size: 16px;
  color: #fff;
}

.end-footer_pixova:hover {
  color: #f2c351;
  cursor: pointer;
}

.end-footer_colorib {
  font-size: 16px;
  color: #fff;
}

.end-footer_colorib:hover {
  color: #f2c351;
  cursor: pointer;
}

.end_icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
}

.end_icons li {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4a4a4a;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

.end_icons li:hover {
  background-color: #f2c351;
  color: #f2c351;
  cursor: pointer;
}

.end_icons li a {
  text-decoration: none;
  color: #fff;
}

#message--success {
  font-size: 24px;
  border: 2px solid #09ff00;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  color: #000;
  background-color: #f0f0f0;
  z-index: 11;
}

#message--error {
  font-size: 24px;
  border: 2px solid #ff4800;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  color: #000;
  background-color: #f0f0f0;
  z-index: 11;
}
/*# sourceMappingURL=style.css.map */