html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* welcome */
::-moz-selection {background: #fff;}
::-webkit-selection {background: #f2c351; color:#fff;}
::selection {
    background: #f2c351;
    color: #fff;
}
body{
    background-color: (249, 249, 249)!important;
}


h2{
    color: #222533;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: Arial,sans-serif; 
}


    

.header{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000;
    margin-left: 135px;
    margin-top: 25px;
    margin-right: 0px;
    width: 1009px;
    position: relative;
    z-index: 3;
    display: table;
    &-logo{
        text-decoration: none;
        color: #000;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 200;
        padding-right: 50px;
        &:hover{
            color: #f2c351;
        }
    }
    &-navigation{
        display: flex;
        flex-direction: row;
        margin: 25px 0px 0px -115px;
        &:hover{
            cursor: pointer; 
            .menu {
                display: fixed;
                padding: 10px ;
                
            }
            ul {
                display: flex;
            }
        }
        &_menu{
            vertical-align: baseline;
            color: transparent;
            color: #fff;
            font-family: Roboto,sans-serif;
            opacity: .75;
            font-weight: 600;
            font-size: 13px;
            display: none;
            margin-left: 700px;
            margin-top: -45px;
            padding: 20px;
            li{
                display: block;
                font-family: Roboto,sans-serif;
                font-weight: 600;
                padding: 5px 15px;

                a{
                    text-decoration: none;
                    color: #000;
                    &:hover{
                        color: #f2c351;
                        cursor: pointer;
                    }
                }
            }
        }
        &::before{
            content: '';
            background-color: #000;
            position: absolute;
            width: 18px;
            height: 3px;
            margin: -33px 0px 0px 1270px;
        }
        &_design{
            content: '';
            background-color: #000;
            position: absolute;
            width: 18px;
            height: 3px;
            margin: -39px 0px 0px 1270px;
        }
        &:after{
            content: '';
            background-color: #000;
            position: absolute;
            width: 18px;
            height: 3px;
            margin: -45px 0px 0px 1270px;
        }

    }
}

.header:hover{
    color:#f2c351;
}

.welcome{
    text-align: center;
    color: white;
    width:100%;
    margin-bottom: 100px;
    display: block;
    z-index: 0;

    background: 
    url(https://demo.colorlib.com/pixova-lite/wp-content/themes/pixova-lite/layout/images/header-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: sticky;
    float: left;
    
    &-title{
        color: #ffce55;
        font-size: 37px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-top: 105px;
        margin-bottom: 80px;
        &:after{
            content: "";
            position: absolute;
            background-color: #ffce55;
            width: 75px;
            height: 4px;
            left: 50%;
            margin: 70px 255px 0px -32px;
        }
    }
    &-subtitle{
        margin: 0px 200px 20px;
        color: #fff;
        font-size: 57px;
        font-family: 'Poppins', sans-serif;
    }
    &-text{
        font-family: Arial,sans-serif;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 40px;
        &_link{
            text-decoration: underline;
            color: #fff;
        }
    }
}


.button{
    margin-bottom: 110px;

    &-black {
        border-color:#fff;
        cursor: pointer;
        padding: 20px 40px;
        margin: 10px 0px;
        margin-right: 25px;
        color: #fff;
        background:transparent;
        font-weight: 500;
        font-size: 18px;
        border-radius: 100px;
        border-width: 2px;
        position: relative;
        a{
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            border-color: #f2c351;
            color: #f2c351;
            a{
                color: #f2c351;
            }

        }
    }
    &-yellow {
        cursor: pointer;
        padding: 20px 40px;
        margin: 10px 0px;
        color: #fff;
        border-radius: 100px;
        font-family: Arial,sans-serif;
        letter-spacing: 1px;
        background-color: #f2c351;
        border-color: transparent;
        font-size: 18px;
        font-weight: 500;
        a{
            text-decoration: none;
            color: #fff;
        }
        &:hover{
            background-color: #ffcc56;
        }
    }
}



/* solutions */

.solutions{
    z-index: 0;
    text-align: center;
    background-color: rgb(249, 249, 249);
    &-header{
        color: #222533;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 20px;
        letter-spacing: 1px;
        &:after{
            content: "";
            position: absolute;
            width: 66px;
            height: 3px;
            background-color: #ffce55;
            left: 50%;
            margin: 52px 255px 0px -32px;
        }
    }
    &-subtitle{
        margin-top: 10px;
        color: #333;
        display: block;
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 100;
        
    }
    &-text{
        color: #333;
        font-size: 17px;
        font-family: Roboto;
        margin: 75px 135px 0px;
        line-height: 1.8;
        margin: 80px 145px 0px;
    }
    &-quote{
        background-color: #fff;
        color: #363636;
        font-size: 16px;
        padding: 15px 30px;
        margin: 30px 145px 80px;
        font-family: sans-serif;
        border-left: 5px solid #f2c351;
        line-height: 1.8;
    }
    &-diagrams{
        font-family:  Arial, sans-serif;
        font-size: 16px;
        color: #333;
        font: inherit;
        font-weight: 100;
        padding-bottom: 20px;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 195px;
        margin-bottom: 70px;
        padding-top: 90px;
        padding-bottom: 25px;
    }
    &:after{
        content: "";
        position: absolute;
        background-color: #ffce55;
    }
}




/* recent-works */

.works{
    margin-top: -70px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    z-index: 1;
    position: relative;
    padding: 60px 150px 30px;
    &-header{
        color: #222533;
        font-size: 30px;
        font-weight: 600;
        margin-top: -45px;
        padding-top: 20px;
        &:after{
            content: "";
            position: absolute;
            width: 66px;
            height: 3px;
            background-color: #ffce55;
            left: 50%;
            margin: 57px 255px 0px -32px;
        }
    }
    &-subtitle{
        margin-top: 15px;
        padding-top: 10px;
        color: #333;
        display: block;
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
    &-parent{
        width: 1140px;
        height: 450px;
        display: flex;
        margin-top: 70px;
        justify-content: center;
        &_img1{
            position: relative;
            &-logo1{
                position: absolute;
                background-color: #fff;
                padding: 40px 0px;
                margin: 320px 170px 30px -285px;
                margin-right: 450px;
                padding-left: 27px;
                padding-right: 28px;
                bottom: 0;
                z-index: 10;
                &_button{
                    display: none;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.9);
                    padding: 375px 28px 40px 27px;
                    &_button{
                        display: block;
                    }
                }
            }
        }
        &_img2{
            position: relative;
            &-logo2{
                position: absolute;
                background-color: #fff;
                padding: 40px 0px;
                margin: 320px 170px 30px -285px;
                margin-right: 450px;
                padding-left: 27px;
                padding-right: 28px;
                bottom: 0;
                z-index: 10;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.9);
                    padding: 375px 28px 40px 27px;
                }
            }
        }
        &_img3{
            position: relative;
            &-logo3{
                position: absolute;
                background-color: #fff;
                padding: 40px 0px;
                margin: 320px 170px 30px -285px;
                margin-right: 450px;
                padding-left: 27px;
                padding-right: 28px;
                bottom: 0;
                z-index: 10;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.9);
                    padding: 375px 28px 40px 27px;
                }
            }
        }
        &_img4{
            position: relative;
            &-logo4{
                position: absolute;
                background-color: #fff;
                padding: 40px 0px;
                margin: 320px 170px 30px -285px;
                margin-right: 450px;
                padding-left: 27px;
                padding-right: 28px;
                bottom: 0;
                z-index: 10;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.9);
                    padding: 375px 28px 40px 27px;
                }
            }
        }
    }
}

.works.active{
    transform: translateY(0);
}



/* clients-words */

.response{
    text-align: center;
    &-header{
        color: #222533;
        font-size: 30px;
        font-weight: 600;
        margin-top: 40px;
        padding-bottom: 23px;
        &:after{
            content: "";
            position: absolute;
            width: 66px;
            height: 3px;
            background-color: #ffce55;
            left: 50%;
            margin: 52px 255px 0px -32px;
        }
    }
    &-subtitle{
        margin-top: 25px;
        color: #333;
        display: block;
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 35px;
    }
    &-image{
        margin: 30px 655px;
        justify-content: center;
        align-items: center;
    }
    &-text{
        color: #363636;
        font-size: 18px;
        line-height: 1.8;
        padding: 0px 165px;
    }
    &-name{
        color: #f2c351;
        font-size: 16px;
        font-style: normal;
        margin-top: 10px;
        text-transform: uppercase;
    }
}



/* latest-news */

.news{
    margin-top: 100px;
    text-align: center;
    &-header{
        &:after{
            content: "";
            position: absolute;
            width: 66px;
            height: 3px;
            background-color: #ffce55;
            left: 50%;
            margin: 52px 255px 0px -32px;
        }
    }
    &-subtitle{
        margin-top: 25px;
        color: #333;
        display: block;
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 65px;
    }
    &-block{
        display: flex;
        justify-content: space-between;
        &_first{
            margin: 0px 30px;
        }
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: #f2c351;
            }
        }
        &_date{
            margin-top: 30px;
            margin-bottom: 25px;
            color: #f2c351;
            font-size: 14px;
            font-weight: 400;
            font-family: Arial,sans-serif;
        }
        &_header{
            color: #333;
            display: block;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 40px;
            font-family: Poppins,sans-serif;
            &:hover{
                cursor: pointer;
                color: #f2c351;
            }
        }
        &_text{
            padding: 0px 70px;
            font-size: 15px;
            line-height: 27px;
            font-family: Roboto;
            color: #777;
            text-align: center;
        }
    }
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.slider-container{
    overflow: hidden;
}


.slider-track{
    display: flex;
    transition: .2s;
}


.slider-item{
    height: auto;
    min-width: 200px;
}


.slider-buttons{
    text-align: center;
}


/* team */

.team{
    text-align: center;
    &-header{
        color: #222533;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 20px;
        margin-top: 150px;
        &:after{
            content: "";
            position: absolute;
            width: 66px;
            height: 3px;
            background-color: #ffce55;
            left: 50%;
            margin: 52px 255px 0px -32px;
        }
    }
    &-subtitle{
        margin-top: 20px;
        padding-top: 10px;
        color: #333;
        display: block;
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
    &-images{
        transition: all 0.5 ease 0;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 150px ;
        &_block{
            // visibility: hidden;
            vertical-align: baseline;
            border-radius: 5px;
            text-align: center;
            word-spacing: 10px;
            justify-content: space-around;
            padding-top: 10px;
            width: 165px;
            height: 30px;
            background-color: #4a4a4a;
            &:hover + div{
                visibility: visible;
            }

            &-link{
                border-radius: 4px;
                text-align: center;
                font-size: 14px;
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: #f2c351;
                    cursor: pointer;  
                }
            }

        }
        &_first{
            &:hover{
                opacity: .75;
                cursor: pointer;
                width: 140px;
                height: 140px;
                transition: all 0.5 ease 0;
            }
        }
        &_second{
            &:hover{
                opacity: .75;
                cursor: pointer;
                width: 140px;
                height: 140px;
                transition: all 0.5 ease 0;
            }
        }
        &_third{
            &:hover{
                opacity: .75;
                cursor: pointer;
                width: 140px;
                height: 140px;
                transition: all 0.5 ease 0;
            }
        }
        &_fourth{
            &:hover{
                opacity: .75;
                cursor: pointer;
                width: 140px;
                height: 140px;
                transition: all 0.5 ease 0;
            }
        }

        &_text{
            margin-bottom: 10px;
            display: block;
            margin-top: 20px;
            font-size: 18px;
            font-weight: 400;
            position: relative;
            font-family: Arial,sans-serif;
        }
    }
}



/* contact-us */


.contact{
    position: relative;
    background-color: rgb(240, 240, 240);
    margin-top: 80px;
    padding-top: 40px;

    >div h3{
        color: #363636;
        font-family: Arial,sans-serif;
        font-size: 21px;
        font-weight: 100;
    }
    &-header{
        text-align: center; 
        color: #222533;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 20px;
        &:after{
            content: "";
            position: absolute;
            width: 66px;
            height: 3px;
            background-color: #ffce55;
            left: 50%;
            margin: 52px 255px 0px -32px;
        }
    }
    &-text{
        text-align: center; 
        color: #333;
        font-family: Roboto;
        margin: 25px 140px 0px;
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
   
    &-info{
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 100px;
        margin-left: 149px;

        &_header{
            color: #363636;
            font-family: Arial,sans-serif;
            font-size: 21px;
            font-weight: 100;
            margin-bottom: 20px;
        }
        &_text{
            margin-bottom: 20px;
            color: #777;
            font-size: 16px;
            font-family: sans-serif;
            > a{
                text-decoration: none;
                color: #777;
            }
        }
        &-adress{
            padding-bottom: 50px;
        }
        // &-phone{            
}
    &-form{
        flex-direction: column;
        margin: -295px 340px 150px 510px;
        background-color: #f0f0f0;
        outline: #f2c351;
        input{
            background-color: #f0f0f0;
            border-color: rgb(220, 220, 220);
            border-style: solid;
            width: 775px;
            height: 40px;
            font-size: 18px;
            outline: none;
            :focus{
                box-shadow: 0 0 15px #7a956b;
            }
        }
        &_textarea{
            width: 775px;
            height: 195px;
            background-color: #f0f0f0;
            border-color: rgb(223, 222, 223);
            border-style: solid;
            resize: vertical;
            outline: none;
            font-size: 18px;
        }
        &_button{
            margin-top: 30px;
            width: 75px;
            height: 45px;
            background-color: #f2c351;
            color: #fff;
            border-color: transparent;
            margin-bottom: 50px;
            border-radius: 10px;
            transition: 0.5 ease 0s;
            position: relative;
            &:hover{
                background-color: #ffcc56;
                cursor: pointer;
            }
        }
    }   
}

input:focus{
    box-shadow: 0 0 15px #beba81;
    transition: all 0.5s ease 0s;
}
textarea:focus{
    box-shadow: 0 0 15px #beba81;
    transition: all 0.5s ease 0s;
}
.invalid{
    box-shadow: 0 0 15px rgb(255, 72, 0);
    transition: all 0.5s ease 0s;  
}



.end{
    position: relative;
    background-color: rgb(49, 50, 51);
    color: #fff;
    padding-top: 35px;
    margin-top: -150px;
    &-about{
        font-size: 21px;
        font-family:  Arial, sans-serif;
        font-weight: 100;
        margin: 0px 920px 10px 135px;
        &_text{
            color: rgba(255,255,255,.75);
            line-height: 1.8;
            margin: 0px 920px 70px 135px;
            font-size: 16px;
            font-family: sans-serif;
        }
    }
    &-themes{
        font-size: 21px;
        font-family:  Arial, sans-serif;
        font-weight: 100;
        margin: -185px 585px 10px 535px;
        &_text{
            line-height: 1.8;
            margin: 0px 585px 10px 535px;
            font-size: 14px;
            font-family: sans-serif;
        }
    }
    &-posts{
        margin: -65px 205px 10px 905px;
        font-family:  Arial, sans-serif;
        font-weight: 100;
        font-size: 21px;
        &_text{
            > li{
                >a{
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    line-height: 1.8;
                    margin: 0px 0px 5px 905px;
                    font-size: 14px;
                    font-family: sans-serif;
                    &:hover{
                        color: #f2c351;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &-footer{
        text-align: center;
        background-color: #1f1f1f;
        padding-bottom: 25px;
        padding-top: 25px;
        color: rgba(255,255,255,.75);
        font-size: 16px;
        font-family:  sans-serif;
        &_pixova{
            font-size: 16px;
            color: #fff;
            &:hover{
                color: #f2c351;
                cursor: pointer;  
            }   
        }
        &_colorib{
            font-size: 16px;
            color: #fff;
            &:hover{
                color: #f2c351;
                cursor: pointer; 
            } 
        }
    }
    &_icons{ 
        position: relative;
        display: flex;
        justify-content: center;
        margin: 30px auto;
        li{
            margin: 5px;
            padding: 5px 10px;
            background-color: #4a4a4a;
            border-radius: 4px;
            text-align: center;
            font-size: 18px;
            display: inline-block;
            &:hover{
                background-color: #f2c351;
                color: #f2c351;
                cursor: pointer;  
            }
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }   
}
